# Dependencies
node_modules/
.pnp
.pnp.js

#Agents
.agents/

# Testing
coverage/

# Production
dist/
build/
out/

# Environment Variables & Secrets
.env
.env.*
!.env.example
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# Framework specific
.astro/
.vercel/
.output/